* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.spectral-extralight {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .spectral-light {
    font-family: "Spectral", serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .spectral-regular {
    font-family: "Spectral", serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .spectral-medium {
    font-family: "Spectral", serif;
    font-weight: 500;
    font-style: normal;
  }
  
  .spectral-semibold {
    font-family: "Spectral", serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .spectral-bold {
    font-family: "Spectral", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .spectral-extrabold {
    font-family: "Spectral", serif;
    font-weight: 800;
    font-style: normal;
  }
  
  .spectral-extralight-italic {
    font-family: "Spectral", serif;
    font-weight: 200;
    font-style: italic;
  }

  
  
  
  body {
    background-color: #D4C2AD;
  }

  h1 {
    font-family: spectral-light;
    font-size: 35px;
    color: #422C22;
  }

  html {
    scroll-behavior: smooth;
  }

  header {
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #BA8E7A;
  }

  nav ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
    }

  main article p {
      /* max-width: 60ch; */ 
      width: auto;
  }

main {
  background-color: #EFDFCC ;
}

footer{
  background-color: #BA8E7A;
  text-align: center;
}

nav{
  justify-content: end;
  grid-template-columns: 1fr repeat(5, minmax(auto, auto));
  display: grid;
  gap: 1.44rem;
}

a {
  color: #281d18;
  font-family: spectral-extralight;
  font-size: 24px;
}

nav a:hover {
  color: #050301;
}

a:link{
  transition: color 0.5s;
}

