* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

nav ul li {
display: inline-block;
margin-right: 30px;
}

main, footer {
    padding: 20px;
}

main, footer {
padding: 20px;
}

@media screen and (min-width: 450px) {
    #gallery {
    grid-template-columns: 1fr;}
}

@media screen and (min-width: 600px) {
    #gallery {
    grid-template-columns: 1fr, 1fr;
    }
}

@media screen and (min-width: 900px) {
    #gallery {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

html {
    scroll-behavior: smooth;
}

/* title */
.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* body text */
.lexend-giga-regular {
  font-family: "Lexend Giga", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
    background-color: #f4efe6;
        justify-content: center;
    align-items: center;
    min-height: 100vh;
}

header {
    width: 100%;
    height: auto;
    padding: 10px;
    text-align: center;
    background-color: #523d2d;
}

h1 {
    color: #f4efe6;
    font-family: staatliches-regular;
    font-size: 50px;
}

h2 {
    font-family: lexend-giga-regular;
    font-size: 30px;
    color: #322115;
    padding: 8px;
    margin: 0.5em 1.5em;
}

a{
    padding: 8px;
    display: block;
    margin: 0.5em 1.5em;
}

a:hover {
    color: #f4efe6;
    text-decoration: none;
}

button {
    font-family: lexend-giga-regular;
    font-size: 20px;
    background-color: #523d2d;
    color: #f4efe6;
    border: #322115, 2px;
    border-style: solid;
    padding: 8px;
    border-radius: 6px;
    display: block;
    margin: 0.5em 1.5em;
    box-shadow: #2d233a 3px 3px;
}

button:hover {
    background-color: #3e2f24;
    color: #f4efe6;
    text-decoration: wavy underline;
}

button a {
    text-decoration: none;
    color: #f4efe6;
}

#classes{
        display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}




