* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.staatliches-regular {
  font-family: "Staatliches", sans-serif;
  font-weight: 400;
  font-style: normal;
}


body {
    background-color: #eac8ab;
}

h1 {
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-size: 56px;
    color: #748da4;
}

  html {
    scroll-behavior: smooth;
  }

  header {
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #dca782;
  }

nav ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
 }

main article p {
      /* max-width: 60ch; */ 
      width: auto;
      }
