
.noto-serif-display-<uniquifier> {
  font-family: "Noto Serif Display", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

  .caprasimo-regular {
    font-family: "Caprasimo", serif;
    font-weight: 400;
    font-style: normal;
  }

  
.dancing-script-<uniquifier> {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}


  body {
    background-color: #867C70;
  }

  h1 {
    color: #1E1D1D;
    font-family:"Dancing Script", cursive ;
    font-size: 50px;
    text-align: center;
  }

  h2 {
    color: #1E1D1D;
    font-family:"Dancing Script", cursive ;
    font-size: 50px;
    text-align: center;
  }

 p {
    color: #1E1D1D;
    font-family:"Noto Serif Display", serif ;
    text-align: left;
    padding: 20px;
  }

  header {
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: #7E6957;
    text-align:center;
  } 

 nav ul li {
    display: inline-block;
    padding-right: 20px;
    padding-top: 5px;
    }

 footer{
      background-color: #7e695757;
      text-align: center;
      bottom: 0px;
      height: 1px;
    } 
    
nav, footer {
      padding: 0 0.5rem;
      width: 100%;
      height: 100px;
      background-color: #7E6957;
      display: grid;
    }
  
  nav{
      grid-template-columns: 1fr repeat(5, minmax(auto, auto));
      display: grid;
      gap: 1.44rem;
      text-align: center;
 }

main article p {
    /* max-width: 60ch; */ 
    width: auto;
}

nav a:hover {
  color: #303031;
}


a {
  color: #303031;
  font-family:"Noto Serif Display", serif ;
  font-size: 24px;
}

@media screen and (min-width:525px) {
  #cards {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (min-width:925px){
#cards {
  grid-template-columns: 1fr 1fr 1fr;
}
}

@media screen and (max-width: 1024px) {
  #container { 
      grid-template-columns: repeat(2, 1fr);
  }
  }

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, auto); /* Adjust number of columns based on links */
  grid-template-rows: repeat(1, auto);
  gap: 5px; /* Space between links */
}

a {
  text-decoration: none;
  color: #303031;
}



/* cards */
#cards {
  display: grid;
  grid-template-columns: 1fr 1fr ;
  gap: 1.44rem;
  padding: 1.44rem 0.833rem;

}

#cards figure {
  position: relative;
}

#cards a {
  background-color: #867C70;
  border: solid 2px #4B3B2C;
  /* border colour :) */
  border-radius: 0.5rem;
  overflow: hidden;
  text-decoration: none;
  max-width: 550px;
}

#cards img {
  width: 100%;
  height: auto;
  aspect-ratio: 16/6;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
}

#cards iframe {
  width: 100%;
  aspect-ratio: 16/6;
  object-fit: cover;
  object-position: center center;
  position: absolute;
  top: 0;
  overflow: hidden;
}

#cards section{
  padding: 0.833rem;
}

#cards h3 {
  font-size: clamp(0.833rem, 1.6vw + 0.579rem, 1.728rem);
  opacity: 0.5;
  transition: opacity 0.5s;
}

#cards p {
  opacity: 0;
  transition: 0.25;
}

#cards .over {
  position: relative;
  top: 1.44rem;
  opacity: 0;
  transition: 0.25s;
}

#cards a:hover {
  transition: color 1s;
}

#cards a:hover h3, #cards a:hover p{
  opacity: 1;
}

#cards section {
  transform: translateY(1.728rem);
  transition: transform 0.25s;
}

#cards a:hover section {
  transform: translateY(0);
}

#cards a:hover .over {
  top: 0;
  opacity: 1;
}

#banner {
  background-image:url(../img/header1.webp);
  width: 100%;
  height: 30vh;
  background-size: cover;
  background-position: center top;
}

blockquote {
  font-family:"Dancing Script", cursive; ;
  background: #7E6957;
  border-left: 5px solid #5A4D41;
  margin: 20px auto;
  padding: 20px 30px;
  max-width: 600px;
  color: #333;
  position: relative;
  transition: all 0.3s ease;
}

blockquote:hover {
  border-left-color: #303031;
  background: #777780;
}
